{% extends 'base.html' %}
{% load static %}

{% block title %}Crear Evaluación{% endblock %}
{% block body_class %}page-background{% endblock %}
{% block container_class %}container{% endblock %}

{% block content %}
<h2 style="color: #2c5dd2; text-align: center; margin-bottom: 20px;">📝 Crear Evaluación</h2>

<div class="page-container">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn button-full">Crear Evaluación</button>
    </form>
</div>
{% endblock %}
