{% extends 'base.html' %}
{% load static %}

{% block title %}Iniciar Sesión{% endblock %}
{% block body_class %}auth-background{% endblock %}
{% block container_class %}auth-container{% endblock %}

{% block content %}
    <img src="https://cdn-icons-png.flaticon.com/512/3914/3914115.png" alt="Icono colegio">
    <h2>Iniciar Sesión</h2>
    <p class="tagline">Accede a tu cuenta para continuar</p>

    {% if messages %}
        {% for message in messages %}
            <div class="error">{{ message }}</div>
        {% endfor %}
    {% endif %}

    <form method="post">
        {% csrf_token %}
        <input type="text" name="username" placeholder="Usuario" required>
        <input type="password" name="password" placeholder="Contraseña" required>
        <button type="submit">Login</button>
    </form>

    <div class="bottom-text">
        ¿No tienes cuenta? <a href="{% url 'registro' %}">Crear cuenta</a>
    </div>
{% endblock %}
