{% extends 'base.html' %}
{% load static %}

{% block title %}Registro{% endblock %}
{% block body_class %}auth-background{% endblock %}
{% block container_class %}auth-container{% endblock %}

{% block content %}
    <img src="https://cdn-icons-png.flaticon.com/512/3914/3914115.png" alt="Logo colegio">
    <h2>Crear Cuenta</h2>
    <p class="tagline">Completa los campos para registrarte</p>

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Registrarse</button>
    </form>

    <div class="bottom-text">
        ¿Ya tienes una cuenta? <a href="{% url 'login' %}">Iniciar sesión</a>
    </div>
{% endblock %}
